# LetsEncrypt domain verification
state/wwwpublic/.well-known/acme-challenge/*

# Known site-specific symlinks
state/wwwpublic/index.html
state/wwwpublic/cookie-policy.pdf
state/wwwpublic/site-privacy-policy.pdf
state/wwwpublic/status.html
state/wwwpublic/about-snippet.html
state/wwwpublic/support-snippet.html
state/wwwpublic/terms.html
state/wwwpublic/tips-snippet.html
state/wwwpublic/.well-known/security.txt

# Mac OSX noise
*.DS_Store
